<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="YahooFinance">
  <test thread-count="2" name="YahooFTest">
    <classes>
      <class name="com.shrawan.seleniumpractice.YahooFinanceTest"/>
      <class name="com.shrawan.seleniumpractice.TeslaInvalidSearch"/>
    </classes>
  </test> <!-- Test -->
</suite>